/* 格式化 */
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 菜单 */
#main {
  width: 100%;
  height: 50px;
  font-size: 0;
  padding: 0;
  /* 三级菜单 右*/
}
#main > li {
  width: 25%;
  height: 50px;
  background-color: #323233;
  font-size: 20px;
  text-align: center;
  color: #7d7d7d;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#main > li:nth-child(-n+3)::after {
  content: '';
  height: 40px;
  border: 0.5px solid #7d7d7d;
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#main li:hover {
  background-color: #454646;
}
#main li:hover > div {
  display: block;
}
#main .secondMenu {
  width: 300px;
  background-color: #323233;
  border: 1px solid #7d7d7d;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}
#main .secondMenu li {
  color: #7d7d7d;
  padding: 20px;
  text-align: justify;
  position: relative;
}
#main .thirdMenu {
  max-width: 300px;
  background-color: #323233;
  border: 1px solid #7d7d7d;
  position: absolute;
  top: 0;
  left: 300px;
  display: none;
}
#main .secondMenu-right {
  width: 300px;
  background-color: #323233;
  border: 1px solid #7d7d7d;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}
#main .secondMenu-right li {
  color: #7d7d7d;
  padding: 20px;
  text-align: right;
  position: relative;
}
#main .thirdMenu-right {
  max-width: 300px;
  background-color: #323233;
  border: 1px solid #7d7d7d;
  text-align: left;
  position: absolute;
  top: 0;
  right: 300px;
  display: none;
}
#main .thirdMenu-right li {
  white-space: nowrap;
  text-align: left;
}
/* 二级菜单箭头 靠右*/
li.more::after {
  content: '';
  width: 13px;
  height: 13px;
  border: 3px solid #7d7d7d;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  box-sizing: border-box;
  position: absolute;
  right: 40px;
  top: 40px;
}
/* 二级菜单箭头 靠左*/
li.more-right::before {
  content: '';
  width: 13px;
  height: 13px;
  border: 3px solid #7d7d7d;
  border-right: none;
  border-top: none;
  transform: rotate(45deg);
  box-sizing: border-box;
  position: absolute;
  left: 40px;
  top: 40px;
}
