@minWidth:1380px;
@IB:inline-block;
@miOrange:rgb(255,103,0);

.header{
  width: 100%;
  .headerTop{
    width: 100%;
    min-width: @minWidth;
    height: 45px;
    font-size: 13px;
    line-height: 45px;
    background-color: #333;
    color: #b0b0b0;
    white-space: nowrap;
    li{
      display: @IB;
      padding: 0 11px 0 7px;
      position: relative;
      a{
        color: #b0b0b0;
      }
      &::after{
        content: '';
        height: 13px;
        border-left: 1px solid #3a3e42;
        border-right: 1px solid #3b3733;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
      &:first-child{
        padding-left: 0;
        
      }
      &:last-child{
        padding-right: 0;
        &::after{
          content: none;
        }
      }
      &:hover a{
        color: #fff;
      }
    }
    .navAbout{
      position: absolute;
      left: 0;
    }
    .navServer{
      position: absolute;
      right: 163px;
    }
    .shopCar{
      width: 133px;
      height: 45px;
      background-color: #424242;
      padding-left: 15px;
      position: absolute;
      right: 0;
      cursor: pointer;
      #goodsMessage{
        width: 355px;
        height: 115px;
        background-color: #fff;
        box-shadow:0 1px 3px #b0b0b0;
        position: absolute;
        top: 45px;
        right: 0;
        display: none;
      }
      &:hover{
        color: @miOrange;
        background-color: #fff;
        #goodsMessage{
          display: block;
          z-index: 9;
        }
      }
    }
    
  }
  .headerBottom{
    height: 112px;
    width: 100%;
    min-width: @minWidth;
    background-color: #fff;
    font-size: 17px;
    line-height: 112px;
    white-space: nowrap;
    position: relative;
    .headerLoge{
      height: 100%;
      width: 63px;
      position: relative;
      .logo{
        width: 63px;
        height: 63px;
        display: block;
        margin: auto;
        background-image:url(../lib/img/logo-mi2.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
    .navGoods{
      position: absolute;
      top: 0;
      left: 274px;
      li{
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
        &:hover a{
          color: @miOrange;
        }
      }
    }
    .searchGoods{
      height: 55px;
      width: 334px;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      input{
        float: left;
        width: 276px;
        height: 53px;
        padding: 5px;
        font-size: 17px;
        border: 1px solid #e0e0e0;
        overflow: hidden;
      }
      button{
        float: right;
        width: 58px;
        height: 53px;
        padding: 0;
        border: 1px solid #e0e0e0;
        border-left: 0;
        background-color: #fff;
        cursor: pointer;
        i{
          color: #8b8b8b;
          font-size: 30px;
        }
        &:hover{
          background-color: @miOrange;
          border-color: #000;
          > i{
            color: #fff;
          }
          ~ input{
            border-color: #000;
          }
        }
      }
    }
    // !!!!!!!!!!!!!!!未完成!!!!!!!!!!!!!
    .pushGoods{
      position: absolute;
      top: 112px;
      left: 0;
      z-index: 99;
      width: 100%;
      height: 258px;
      background-color: #fff;
      border-top: 1px solid #e0e0e0;
      box-shadow: 0 2px 5px #d6d6d6;
      // transition: 1s;
      li{
        display: inline-block;
        padding: 40px 0 35px 0;
        a{
          display: block;
          width: 230px;
          img{
            height: 120px;
            margin: 0 auto;
          }
        }
      }
    }
    // !!!!!!!!!!!!!!!未完成!!!!!!!!!!!!!
  }
  
}
.banner{
  height: 517px;
  width: 100%;
  background-color: #fff;
  // 侧边栏导航
  .aside{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 262px;
    background-color: #a5a3a3;
    padding: 20px 0;
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 16px;
        color: #f8f8f8;
        padding: 10px 20px 10px 30px;
        &:hover{
          background-color: @miOrange;
        }
      }
        
    }
  }
  // 轮播图
  .slider{
    position: absolute;
    top: 0;
    left: 262px;
    width: 1117px;
    height: 100%;
    background-color: #dbdddb;
    input{
      display: none;
      &:checked + * + * + * + *{
        opacity: 1;
        transition: opacity 1s;
      }
      &:nth-child(1):checked ~ .sliderCheck li:nth-child(1) label,
      &:nth-child(2):checked ~ .sliderCheck li:nth-child(2) label,
      &:nth-child(3):checked ~ .sliderCheck li:nth-child(3) label,
      &:nth-child(4):checked ~ .sliderCheck li:nth-child(4) label{
        background-color: #efeeec;
      }
    }
    .sliderItem{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s;
      overflow: hidden;
      img{
        height: 517px;
        margin-left: -262px;
      }
      .left{
        width: 45px;
        height: 77px;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        font-size: 37px;
        text-align: center;
        line-height: 77px;
        color: #d8d8d8;
        z-index: 9;
        text-align: center;
        cursor: pointer;
        &:hover{
          color: #f8f8f8;
          background-color: rgba(111,109,110,.8);
        }
      }
      .right{
        width: 45px;
        height: 77px;
        position: absolute;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 37px;
        color: #d8d8d8;
        text-align: center;
        line-height: 77px;
        z-index: 9;
        cursor: pointer;
        &:hover{
          color: #f8f8f8;
          background-color: rgba(111,109,110,.8);
        }
      }
    }
    .sliderCheck{
      width: 100%;
      text-align: end;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 20px;
      margin-right: 32px;
      li{
        display: inline-block;
        padding: 0 5px;
        label{
          display: block;
          width: 10px;
          height: 10px;
          background-color: #888687;
          border: 3px solid #aeacad;
          border-radius: 50%;
        }
      }
    }
  }
}