.header {
  width: 100%;
}
.header .headerTop {
  width: 100%;
  min-width: 1380px;
  height: 45px;
  font-size: 13px;
  line-height: 45px;
  background-color: #333;
  color: #b0b0b0;
  white-space: nowrap;
}
.header .headerTop li {
  display: inline-block;
  padding: 0 11px 0 7px;
  position: relative;
}
.header .headerTop li a {
  color: #b0b0b0;
}
.header .headerTop li::after {
  content: '';
  height: 13px;
  border-left: 1px solid #3a3e42;
  border-right: 1px solid #3b3733;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.header .headerTop li:first-child {
  padding-left: 0;
}
.header .headerTop li:last-child {
  padding-right: 0;
}
.header .headerTop li:last-child::after {
  content: none;
}
.header .headerTop li:hover a {
  color: #fff;
}
.header .headerTop .navAbout {
  position: absolute;
  left: 0;
}
.header .headerTop .navServer {
  position: absolute;
  right: 163px;
}
.header .headerTop .shopCar {
  width: 133px;
  height: 45px;
  background-color: #424242;
  padding-left: 15px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.header .headerTop .shopCar #goodsMessage {
  width: 355px;
  height: 115px;
  background-color: #fff;
  box-shadow: 0 1px 3px #b0b0b0;
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
}
.header .headerTop .shopCar:hover {
  color: #ff6700;
  background-color: #fff;
}
.header .headerTop .shopCar:hover #goodsMessage {
  display: block;
  z-index: 9;
}
.header .headerBottom {
  height: 112px;
  width: 100%;
  min-width: 1380px;
  background-color: #fff;
  font-size: 17px;
  line-height: 112px;
  white-space: nowrap;
}
.header .headerBottom .headerLoge {
  height: 100%;
  width: 63px;
  position: relative;
}
.header .headerBottom .headerLoge .logo {
  width: 63px;
  height: 63px;
  display: block;
  margin: auto;
  background-image: url(../lib/img/logo-mi2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.header .headerBottom .navGoods {
  position: absolute;
  top: 0;
  left: 274px;
}
.header .headerBottom .navGoods li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.header .headerBottom .navGoods li:first-child {
  padding-left: 0;
}
.header .headerBottom .navGoods li:last-child {
  padding-right: 0;
}
.header .headerBottom .navGoods li:hover a {
  color: #ff6700;
}
.header .headerBottom .searchGoods {
  height: 55px;
  width: 334px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.header .headerBottom .searchGoods input {
  float: left;
  width: 276px;
  height: 53px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.header .headerBottom .searchGoods button {
  float: right;
  width: 58px;
  height: 53px;
  padding: 0;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background-color: #fff;
  cursor: pointer;
}
.header .headerBottom .searchGoods button i {
  color: #8b8b8b;
  font-size: 30px;
}
.header .headerBottom .searchGoods button:hover {
  background-color: #ff6700;
  border-color: #000;
}
.header .headerBottom .searchGoods button:hover > i {
  color: #fff;
}
.header .headerBottom .searchGoods button:hover ~ input {
  border-color: #000;
}
.header .pushGoods {
  width: 100%;
  height: 258px;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px #d6d6d6;
}
.header .pushGoods li {
  display: inline-block;
  padding: 40px 0 35px 0;
}
.header .pushGoods li span {
  width: 230px;
}
.header .pushGoods li span img {
  height: 120px;
  margin: 0 auto;
}
.banner {
  height: 517px;
  width: 100%;
}
.banner .aside {
  height: 100%;
  width: 262px;
  background-color: #a5a3a3;
  padding: 35px 20px 35px 30px;
}
.banner .aside ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner .aside ul li {
  font-size: 16px;
}
