.fixedAside {
  width: 96px;
  height: 512px;
  position: fixed;
  bottom: 80px;
  right: 0;
  z-index: 999;
  background-color: #fff;
}
.fixedAside ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fixedAside ul li {
  flex-grow: 1;
  border: 1px solid #f5f5f5;
}
.fixedAside ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #757575;
}
.fixedAside ul li a:hover {
  color: #ff6700;
}
.fixedAside ul li a .iconfont {
  font-size: 30px;
}
.header {
  width: 100%;
}
.header .headerTop {
  width: 100%;
  min-width: 1380px;
  height: 45px;
  font-size: 13px;
  line-height: 45px;
  background-color: #333;
  color: #b0b0b0;
  white-space: nowrap;
}
.header .headerTop li {
  display: inline-block;
  padding: 0 11px 0 7px;
  position: relative;
}
.header .headerTop li a {
  color: #b0b0b0;
}
.header .headerTop li::after {
  content: '';
  height: 13px;
  border-left: 1px solid #3a3e42;
  border-right: 1px solid #3b3733;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.header .headerTop li:first-child {
  padding-left: 0;
}
.header .headerTop li:last-child {
  padding-right: 0;
}
.header .headerTop li:last-child::after {
  content: none;
}
.header .headerTop li:hover a {
  color: #fff;
}
.header .headerTop .navAbout {
  position: absolute;
  left: 0;
}
.header .headerTop .navServer {
  position: absolute;
  right: 163px;
}
.header .headerTop .shopCar {
  width: 133px;
  height: 45px;
  background-color: #424242;
  padding-left: 15px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.header .headerTop .shopCar #goodsMessage {
  width: 355px;
  height: 115px;
  background-color: #fff;
  box-shadow: 0 1px 3px #b0b0b0;
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
}
.header .headerTop .shopCar:hover {
  color: #ff6700;
  background-color: #fff;
}
.header .headerTop .shopCar:hover #goodsMessage {
  display: block;
  z-index: 9;
}
.header .headerBottom {
  height: 112px;
  width: 100%;
  min-width: 1380px;
  background-color: #fff;
  font-size: 17px;
  line-height: 112px;
  white-space: nowrap;
}
.header .headerBottom .headerLoge {
  height: 100%;
  width: 63px;
  float: left;
  margin-right: 205px;
}
.header .headerBottom .headerLoge .logo {
  width: 63px;
  height: 63px;
  display: block;
  margin: auto 0;
  background-image: url(../lib/img/logo-mi2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.header .headerBottom .navGoods {
  float: left;
  font-size: 0;
}
.header .headerBottom .navGoods li {
  display: inline-block;
  padding: 0 10px;
  font-size: 19px;
  cursor: pointer;
}
.header .headerBottom .navGoods li:first-child {
  padding-left: 0;
}
.header .headerBottom .navGoods li:last-child {
  padding-right: 0;
}
.header .headerBottom .navGoods li:hover a {
  color: #ff6700;
}
.header .headerBottom .navGoods li:hover .navGoodsMore {
  visibility: visible;
}
.header .headerBottom .navGoods li .navGoodsMore {
  position: absolute;
  top: 112px;
  left: 0;
  width: 100vw;
  height: 258px;
  margin-left: calc(-100vw/2 + 1380px/2);
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px #d6d6d6;
  z-index: 999;
  visibility: hidden;
}
.header .headerBottom .navGoods li .navGoodsMore li {
  display: inline-block;
  padding: 40px 0 35px 0;
}
.header .headerBottom .navGoods li .navGoodsMore li a {
  display: block;
  width: 230px;
}
.header .headerBottom .navGoods li .navGoodsMore li a img {
  height: 120px;
  margin: 0 auto;
}
.header .headerBottom .searchGoods {
  height: 55px;
  width: 334px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  float: right;
}
.header .headerBottom .searchGoods input {
  float: left;
  width: 276px;
  height: 53px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.header .headerBottom .searchGoods button {
  float: right;
  width: 58px;
  height: 53px;
  padding: 0;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background-color: #fff;
  cursor: pointer;
}
.header .headerBottom .searchGoods button i {
  color: #8b8b8b;
  font-size: 30px;
}
.header .headerBottom .searchGoods button:hover {
  background-color: #ff6700;
  border-color: #000;
}
.header .headerBottom .searchGoods button:hover > i {
  color: #fff;
}
.header .headerBottom .searchGoods button:hover ~ input {
  border-color: #000;
}
.banner {
  height: 517px;
  width: 100%;
  background-color: #fff;
}
.banner .aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 262px;
  background-color: #a5a3a3;
  padding: 20px 0;
}
.banner .aside > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0;
}
.banner .aside > ul > li {
  font-size: 0;
  flex-grow: 1;
}
.banner .aside > ul > li:hover .asideMore {
  visibility: visible;
}
.banner .aside > ul > li > a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #f8f8f8;
  padding: 10px 20px 10px 30px;
}
.banner .aside > ul > li > a:hover {
  background-color: #ff6700;
}
.banner .aside > ul > li .asideMore {
  position: absolute;
  top: 0;
  left: 262px;
  height: 100%;
  max-width: 1117px;
  background-color: #dbdbdb;
  z-index: 999;
  display: flex;
  flex-flow: column wrap ;
  justify-content: start;
  visibility: hidden;
}
.banner .aside > ul > li .asideMore a {
  flex-grow: 1;
  display: block;
  height: 86px;
  width: 300px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 10px 10px 10px #dbdbdb;
}
.banner .aside > ul > li .asideMore a:hover {
  color: #ff6700;
}
.banner .aside > ul > li .asideMore a img {
  margin: 25px 15px 25px 30px;
}
.banner .aside > ul > li .asideMore::after {
  content: '';
  flex-grow: 99;
  background-color: #fff;
  box-shadow: 10px 10px 10px #dbdbdb;
}
.banner .slider {
  position: absolute;
  top: 0;
  left: 262px;
  width: 1117px;
  height: 100%;
  background-color: #dbdddb;
}
.banner .slider input {
  display: none;
}
.banner .slider input:checked + * + * + * + * {
  opacity: 1;
  transition: opacity 1s;
}
.banner .slider input:nth-child(1):checked ~ .sliderCheck li:nth-child(1) label,
.banner .slider input:nth-child(2):checked ~ .sliderCheck li:nth-child(2) label,
.banner .slider input:nth-child(3):checked ~ .sliderCheck li:nth-child(3) label,
.banner .slider input:nth-child(4):checked ~ .sliderCheck li:nth-child(4) label {
  background-color: #efeeec;
}
.banner .slider .sliderItem {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  overflow: hidden;
}
.banner .slider .sliderItem img {
  height: 517px;
  margin-left: -262px;
}
.banner .slider .sliderItem .left {
  width: 45px;
  height: 77px;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 37px;
  line-height: 77px;
  color: #d8d8d8;
  z-index: 9;
  text-align: center;
  cursor: pointer;
}
.banner .slider .sliderItem .left:hover {
  color: #f8f8f8;
  background-color: rgba(111, 109, 110, 0.8);
}
.banner .slider .sliderItem .right {
  width: 45px;
  height: 77px;
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 37px;
  color: #d8d8d8;
  text-align: center;
  line-height: 77px;
  z-index: 9;
  cursor: pointer;
}
.banner .slider .sliderItem .right:hover {
  color: #f8f8f8;
  background-color: rgba(111, 109, 110, 0.8);
}
.banner .slider .sliderCheck {
  width: 100%;
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 32px;
}
.banner .slider .sliderCheck li {
  display: inline-block;
  padding: 0 5px;
}
.banner .slider .sliderCheck li label {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #888687;
  border: 3px solid #aeacad;
  border-radius: 50%;
}
.banner-bottom {
  width: 100%;
  height: 236px;
  background-color: #fff;
  padding: 16px 0 29px 0;
  font-size: 0;
}
.banner-bottom .navMoreServer {
  width: 263px;
  height: 191px;
  background-color: #5f5750;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-bottom .navMoreServer ul {
  display: flex;
  flex-wrap: wrap;
}
.banner-bottom .navMoreServer ul li {
  width: 85px;
  height: 91px;
  border: 1px solid #665e57;
}
.banner-bottom .navMoreServer ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c0bdba;
  font-size: 14px;
}
.banner-bottom .bests {
  width: 1117px;
  height: 191px;
  position: absolute;
  top: 0;
  left: 263px;
}
.banner-bottom .bests ul {
  display: flex;
  justify-content: space-around;
}
.banner-bottom .bests ul li {
  width: 355px;
  height: 192px;
}
.banner-bottom .bests ul li:hover {
  box-shadow: 2px 2px 5px #dbdbdb;
}
.banner-bottom .bests ul li img {
  width: 355px;
}
.mainGoods::before,
.mainGoods::after {
  content: '';
  display: block;
  width: 100%;
  height: 135px;
  margin: 30px 0;
  background-image: url(../lib/img/mainbanner.webp);
  background-size: auto 135px;
  background-repeat: no-repeat;
}
.mainGoods .mainGoods-Phone .title {
  width: 100%;
  height: 60px;
  display: block;
}
.mainGoods .mainGoods-Phone .title h1 {
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: normal;
  float: left;
}
.mainGoods .mainGoods-Phone .title a {
  float: right;
  display: block;
  height: 60px;
  line-height: 60px;
}
.mainGoods .mainGoods-Phone .title a::before {
  content: '查看更多';
  margin-right: 3px;
}
.mainGoods .mainGoods-Phone .title a:hover {
  color: #ff6700;
}
.mainGoods .mainGoods-Phone .title a:hover .iconfont {
  color: #fff;
  background-color: #ff6700;
}
.mainGoods .mainGoods-Phone .title a .iconfont {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 5px;
  border-radius: 50%;
  background-color: #b0b0b0;
  color: #fff;
}
.mainGoods .mainGoods-Phone .goodsCard {
  width: 100%;
  height: 690px;
  display: flex;
}
.mainGoods .mainGoods-Phone .goodsCard img {
  width: 263px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardAside {
  height: 100%;
  width: 263px;
  margin-right: 16px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardAside:hover {
  box-shadow: 0 5px 10px #dbdbdb;
  margin-top: -2px;
  transition: 0.2s;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain {
  height: 100%;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a {
  display: block;
  height: 338px;
  width: 263px;
  padding: 20px 0;
  background-color: #fff;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a:hover {
  box-shadow: 0 5px 10px #dbdbdb;
  margin-top: -2px;
  transition: 0.2s;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .imgBox {
  width: 160px;
  margin: 0 auto 18px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .imgBox img {
  width: 160px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .goodsAlt {
  width: 100%;
  font-size: 16px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .goodsAlt p {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .goodsAlt p.description {
  color: #b0b0b0;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .goodsAlt p.price {
  color: #ff6700;
  font-size: 18px;
}
.mainGoods .mainGoods-Phone .goodsCard .goodsCardMain a .goodsAlt p.price del {
  color: #d0d0d0;
}
